.menue  {
    background: url(imeges/bg.png);
    font-weight: bold;
    padding: 0.5rem;
}
.logotype{
   font-size: 30px;
}
.menue .container {
    display: flex; 
    justify-content: space-between;
    font-size: 20px;
 }
.menue .container .site-sittings ul > li{
    margin: 0;
    list-style: none;
     margin: 0 1rem;
    }
   #homee{
   color: #FF7373;
   }
    .menue .container .shopping-icons ul > li{
        margin: 0;
        list-style: none;
        margin: 0 1rem;   
        position: relative;
    }
    .shopping-icons ul > li span{
       font-size: 0.5rem;
       position: absolute;
       left: 20px;
    }
    .menue .container ul {
        display: flex;   
    }
    .menue ul > li :last-child {
    margin-left: 1rem;
    }      
    .menue2 {
        display: flex;
        justify-content: space-between;
        background: url(imeges/bg.png);
    }
    .menue2 .metten {
        text-align: center;
        padding: 10rem;
        margin: 16px;  
    }  
    .menue2 .metten .zero >button {
        margin: 16px;
        background-color:#FF7373;
        color: azure;
        width: 10rem;
        height: 3rem;
        border: none;   
    }
    .new{
        margin-top:25px;
        display: flex;
        padding: 5px;
        height: 30rem;      
    }
    .imeg1{
        background: url(imeges/img3.png);      
    }
    .imeg2{
        background: url(imeges/img4.png);    
    }
    .past {
      margin: 200px;
      margin: right 0px;
      margin-left: 50px;
      padding-right:10px;   
    }
    .past > button {
        padding: 1rem 1.5rem;
        margin: 16px;
        background-color: black;
        color: azure;
    }
    .verb {
    margin: 270px;
    margin-left: 15px;
    padding-right: 10px; 
    }
    .verb > button {
     padding: 1rem 1.5rem;
       margin: 16px;
       background-color: black;
        color: azure;   
        outline: none;
    }
    button:hover{
        background-color: rgb(95, 67, 67);
        color: antiquewhite;
        transition: all 2s;
        outline: none;
    }
    .featured {  
        text-align: center;
        margin-top: 25px;
        position: relative; 
       font-weight: bold;
    }
    #heart >li{
        list-style: none;
       
    }
